.buttons {
  align-items: center;
  display: flex;
  gap: 20px;
  max-width: 100%;
  width: 100%;
  margin-top: 20%;
}
  
  
  
.buttons button {
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: x-large;
  background-color: rgb(235, 225, 225);
  color: black;
  border: 1px solid #daa520;
  padding: 13px 56px;
  cursor: pointer;
  border-radius: 10px;
  top: 500px;
  max-width: 100%;
}
  
  
.buttons button:hover {
  background-color: #daa520;
}

.card-master{
 display: flex;
 flex-direction: column;
 justify-content: center;
 max-width: 100%;
 width: 100%;
} 

.card-trio {
  display: flex;
  flex-direction: row;
  align-items:initial;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  
  
}

