.topo {
  
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 50px;
}

.foto{
  max-height: 700px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 20px   rgba(235, 188, 36, 0.8);
  color: #daa520;
  font-size: 300%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
}

.paragrafo{
  font-family: 'Dancing Script', cursive;
  color: #daa520;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
}


